<html>
<head>
  <title></title>
  <% @js_libs.each do |lib| %>
  <script type="text/javascript" src="<%= lib %>"></script>
  <% end %>
  <script type="text/javascript">
    <%= @js_string %>
  </script>
</head>
<body>
  <%= @html_string %>
</body>
</html>